
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2 {
    color: #4CAF50;
    font-size: 32px;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

label {
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
    display: block;
    font-size: 14px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s ease;
}

input:focus, select:focus, button:focus {
    border-color: #4CAF50;
    outline: none;
}


select {
    cursor: pointer;
}

button {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #388e3c;
}

.resultado {
    background-color: #e8f5e9;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
}

.resultado h3 {
    color: #388e3c;
    font-size: 18px;
    margin-bottom: 10px;
}

.resultado p {
    color: #2c6e2f;
    font-size: 16px;
    margin: 0;
}

/* Estilo responsivo */
@media (max-width: 480px) {
    form {
        padding: 20px;
    }

    h2 {
        font-size: 24px;
    }

    button {
        font-size: 14px;
    }
}